<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="page-header" style="text-align:center;">
            <h1 id="title">Tweet Sneak</h1>
            <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}">
        </div>
        <form action="search" method="GET" style="text-align:center;">
            <input id="search_bar" type="text" name="q" placeholder="Search for tweets">
            <input id="submit_button" type="submit" value="Search">
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>