<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="page-header" style="margin-left:20px;">
            <div class="row">
                <h1 id="search_title">Search results for "{{ token }}"</h1>
                <img id="logo_small" src="{{ url_for('static', filename='img/logo.png') }}">
            </div>
        </div>
        <div class="tweet_container">
            <div class="row">
                    {% for tweet in tweets %}
                        <blockquote class="twitter-tweet"><p>{{ tweet.text }}</p>&mdash; {{ tweet.user.name }} (@{{ tweet.user.screen_name }}) {{ tweet.created_at }}</blockquote>
                    {% endfor %}
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>